# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
.env.*
*.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.log

# Flask
instance/
*.db
*.sqlite3

# TailwindCSS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.swo
.idea/
*.iml

# PyTorch
*.pt
*.pth
*.pkl
*.ckpt


# Model checkpoints
checkpoints/
runs/
logs/

data
data-unversioned
uploaded_models